.container {
  max-width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* background-color: lightblue; */
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


.post {
  /* background-color: #999; */
  box-sizing: border-box;
  padding: 10px 10px;
  border: 1px solid #999;
  margin: 10px 0px;
}

.pagination-container {
  display: flex;
  max-width: 100%;
  /* background-color: lightsalmon; */
  color:#439CEF;
  box-sizing: border-box;
}

.pagination-box {
  height: 50px;
  width: 50px;
  max-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
}

.pagination-box:hover {
  cursor: pointer;
}

.pagination-box:active {
  background-color: #999;
}